@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700;800&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:"Plus Jakarta Sans",sans-serif;
}

*{
margin:0;
padding:0;
box-sizing:border-box;
}


html,
body,
#root{
    width:100%;
    height:100%;
    overflow:hidden;
}

body{
    background:#F7F4EA;
}

.main-content{
    height:100vh;
    overflow:hidden;
}