:root{

--background:#F7F4EA;

--sidebar:#80A1D4;

--card:#FFFFFFAA;

--pearl:#75C9C8;

--lavender:#DED9E2;

--periwinkle:#C089DD;

--blue:#80A1D4;

--text:#303030;

--text-light:#6B7280;

--border:rgba(255,255,255,.35);

--radius:28px;

--shadow:

0 10px 40px rgba(0,0,0,.06);

}