@import "tailwindcss";

:root {
  --bg: #1E201F;
  --sidebar: #193A31;
  --card: #1D6C61;
  --primary: #3EB9A8;
  --primary-hover: #5AA371;
  --danger: #EF4444;
  --text: #F8FAFC;
  --secondary: #94A3B8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  background: var(--bg);
  color: var(--text);
  font-family: "Inter", sans-serif;
}