.hero{
    display:grid;
    grid-template-columns:1.5fr 1fr;

    gap:30px;

    background:white;

    border-radius:28px;

    padding:30px 40px;

    box-shadow:0 15px 40px rgba(0,0,0,.06);

    min-height:260px;
}

.hero-left{
    display:flex;
    flex-direction:column;
    justify-content:center;
}

.hero-badge{
    width:max-content;

    padding:8px 18px;

    border-radius:30px;

    background:#EFEAF7;

    color:#6E6E6E;

    font-size:13px;

    font-weight:700;

    margin-bottom:18px;
}

.hero h1{

    font-size:38px;

    font-weight:800;

    color:#1F2937;

    margin-bottom:16px;

    line-height:1.2;
}

.hero h1 span{

    color:#80A1D4;
}

.hero p{

    color:#6B7280;

    font-size:16px;

    line-height:1.7;

    max-width:500px;

    margin-bottom:28px;
}

.upload-btn{

    display:flex;

    align-items:center;

    gap:10px;

    width:200px;

    height:52px;

    border:none;

    border-radius:16px;

    cursor:pointer;

    color:white;

    font-size:15px;

    font-weight:700;

    background:linear-gradient(
        135deg,
        #75C9C8,
        #80A1D4
    );

    transition:.25s;
}

.upload-btn:hover{

    transform:translateY(-3px);

    box-shadow:0 15px 35px rgba(117,201,200,.35);
}

.hero-right{

    display:flex;

    align-items:center;

    justify-content:center;
}

.score-card{

    width:100%;

    height:100%;

    border-radius:24px;

    background:linear-gradient(
        135deg,
        #F8FBFF,
        #EEF4FF
    );

    padding:28px;
}

.score-title{

    font-size:14px;

    color:#777;

    margin-bottom:12px;
}

.score-card h2{

    font-size:56px;

    color:#80A1D4;

    margin-bottom:24px;
}

.status{

    display:flex;

    flex-direction:column;

    gap:16px;
}

.status div{

    display:flex;

    align-items:center;

    gap:10px;

    color:#444;

    font-size:15px;
}